<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="JobTicket_SSPSoap" />
                <binding name="Job_SSPSoap" />
                <binding name="ProductionSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://uimeapp0003/xmpiewsapi/JobTicket_SSP.asmx"
                binding="basicHttpBinding" bindingConfiguration="JobTicket_SSPSoap"
                contract="JobTicket.JobTicket_SSPSoap" name="JobTicket_SSPSoap" />
            <endpoint address="http://uimeapp0003/xmpiewsapi/Job_SSP.asmx"
                binding="basicHttpBinding" bindingConfiguration="Job_SSPSoap"
                contract="Job.Job_SSPSoap" name="Job_SSPSoap" />
            <endpoint address="http://uimeapp0003/xmpiewsapi/Production.asmx"
                binding="basicHttpBinding" bindingConfiguration="ProductionSoap"
                contract="Production.ProductionSoap" name="ProductionSoap" />
        </client>
    </system.serviceModel>
</configuration>