<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="xmpdb2"
         connectionString="data source=SQL1; persist security info=True; initial catalog=XMPDB2; user id=XMPieUStore; password=uStore1;"/>
  </connectionStrings>
  <appSettings>
    <add key="UproduceUsername" value="garmstrong"/>
    <add key="UproduceUserPassword" value="9ol8ikm"/>
    <add key="UproduceServerUncName" value="\\uimeapp0003"/>
  </appSettings>
</configuration>