<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArtFactory.Experimental.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <applicationSettings>
        <ArtFactory.Experimental.Properties.Settings>
            <setting name="ArtFactory_Experimental_JobTicket_JobTicket_SSP"
                serializeAs="String">
                <value>http://uprodtest/xmpiewsapi/JobTicket_SSP.asmx</value>
            </setting>
            <setting name="ArtFactory_Experimental_Production_Production_SSP"
                serializeAs="String">
                <value>http://uprodtest/xmpiewsapi/Production_SSP.asmx</value>
            </setting>
            <setting name="ArtFactory_Experimental_Job_Job_SSP" serializeAs="String">
                <value>http://uprodtest/xmpiewsapi/Job_SSP.asmx</value>
            </setting>
        </ArtFactory.Experimental.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <add key="UproduceUsername" value="pieman"/>
    <add key="produceUserPassword" value="noknok"/>
  </appSettings>
</configuration>